<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminMapper">
 	
 	
	<resultMap id="commentSelectMap" type="com.zagle.service.domain.Comment">
		<result property="commentNo" 						column="comment_no" 								jdbcType="VARCHAR"/>
		<result property="board.boardNo"					column="board_no"										jdbcType="VARCHAR"/>
		<result property="user.userNo"						column="user_no"											jdbcType="VARCHAR"/>
		<result property="commentDetailText"			column="comment_detail_text"					jdbcType="VARCHAR"/>
		<result property="commentRegDate"				column="comment_reg_date"						jdbcType="DATE"/>
		<result property="commentStatus"					column="comment_status"							jdbcType="VARCHAR"/>
		
										
	</resultMap>
	
	<select id="getComment" parameterType="string" resultMap="commentSelectMap">
	SELECT*
	FROM comments
	WHERE comment_no = #{commentNo}
	
	 </select>
	 
	 <update id="updateComment" parameterType="com.zagle.service.domain.Comment">
	 UPDATE comments
	 <set>
	 comment_status = #{commentStatus}
	 </set>
	WHERE comment_no = #{commentNo}
	 </update>
	 
	 
</mapper>