<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminMapper">
 	
 	
	<resultMap id="adminSelectMap" type="admin">
		<result property="user.userNo" 			column="user_no" 			jdbcType="VARCHAR"/>
		<result property="user.userName"	column="user_name" 		jdbcType="VARCHAR" />
		<result property="user.snsNo" 	column="sns_no" 		jdbcType="VARCHAR" />
		<result property="user.regDate" 				column="reg_date" 					jdbcType="DATE"/>
		<result property="user.deleteCount" 				column="delete_count" 					jdbcType="NUMERIC"/>
		
	</resultMap>
	
	
	<!-- SQL : SELECT USER LIST -->
	

	<select  id="listUser"  parameterType="com.zagle.service.domain.SearchAdmin"	resultMap="adminSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT user_no , user_name , sns_no, reg_date, delete_count
											FROM users
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				user_name = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				delete_count = #{searchKeyword}
													</if>
												</where>
											</if>
											ORDER BY user_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	<!--  
	<select  id="listUser"  parameterType="com.zagle.service.domain.SearchAdmin"	resultMap="adminSelectMap">
	  	SELECT
	   	user_no , user_name , sns_no, reg_date, delete_count
		FROM users
		ORDER BY user_no 
	 </select>
	-->
	
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT user_no , user_name , sns_no, reg_date, delete_count
						FROM users
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			user_name = #{searchKeyword}
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 		delete_count = #{searchKeyword}
								</if>
							</where>
						</if> ) countTable						
	 </select>
	 
</mapper>