<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BlackListMapper">
 	
 	
	<resultMap id="blackListSelectMap" type="com.zagle.service.domain.BlackList">
	
		<result property="blackNo"							column="black_no"				jdbcType="VARCHAR"/>
		<result property="blackUser.userNo"			column="user_no"						jdbcType="VARCHAR"/>
		<result property="banReason"						column="ban_reason"				jdbcType="VARCHAR"/>
		<result property="blackCheckCode"			column="black_check_code"	jdbcType="VARCHAR"/>
		<result property="banStartDay"					column="ban_start_day"			jdbcType="DATE"/>
		<result property="banExpireDay"				column="ban_expire_day"		jdbcType="DATE"/>

	</resultMap>
	
	<insert id="addBlackList" parameterType="com.zagle.service.domain.BlackList">
	INSERT
	INTO blackList(black_no, user_no, ban_start_day, ban_expire_day, ban_reason, black_check_code)
	
	VALUES('BK'||seq_bk.nextval, #{blackUser.userNo:VARCHAR}, 
														SYSDATE, SYSDATE+7,#{banReason:VARCHAR}, '0')
	
	</insert>
	
	
	<!--  
	<select id="listBlackList" parameterType="com.zagle.service.domain.SearchAdmin" resultMap="blackListSelectMap">
	SELECT b.black_no, u.user_no, b.ban_reason, b.ban_start_day, b.ban_expire_day, u.black_code
		FROM blackList b, users u
		WHERE b.user_no = u.user_no and u.black_code ='2'
	</select>
	 -->
	

	<select id="listBlackList" parameterType="com.zagle.service.domain.SearchAdmin" resultMap="blackListSelectMap">
	SELECT*
	FROM ( SELECT inner_table.*, ROWNUM AS row_seq
					FROM ( SELECT *
									FROM blackList
								
									<if test="searchCondition != null">
												<where>
			
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				ban_reason = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 			  black_check_code = #{searchKeyword}
													</if>
												</where>
											</if>
											ORDER BY black_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	</select>

	
	 <select  id="getTotalCount3"  parameterType="com.zagle.service.domain.SearchAdmin"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT *
						FROM  blackList
					
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			ban_reason = #{searchKeyword}
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 		 	 black_check_code = #{searchKeyword}
								</if>
							</where>
						</if> ) countTable						
	 </select>
	 
</mapper>