<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
	
	<resultMap type="com.zagle.service.domain.Board" id="boardSelectMap">
		<result property="boardNo"	column="board_no"	jdbcType="VARCHAR"/>
		<result property="user.userNo"	column="user_no"	jdbcType="VARCHAR"/>
		<result	property="boardDetailText"	column="board_detail_text"	jdbcType="VARCHAR"/>
		<result	property="hashTag"	column="hash_tag"	jdbcType="VARCHAR"/>
		<result	property="userTheme"	column="user_theme"	jdbcType="VARCHAR"/>
		<result	property="boardRegDate"	column="board_reg_date"	jdbcType="DATE"/>
		<result	property="boardStatus"	column="board_status"	jdbcType="VARCHAR"/>
		<result	property="photo1"	column="photo1"	jdbcType="VARCHAR"/>
		<result	property="photo2"	column="photo2"	jdbcType="VARCHAR"/>
		<result	property="photo3"	column="photo3"	jdbcType="VARCHAR"/>
		<result	property="coord"	column="coord"	jdbcType="VARCHAR"/>
		<result	property="address"	column="address"	jdbcType="VARCHAR"/>
	</resultMap>
	
	
	
	<!-- SQL : INSERT -->
	 
	 <insert 	id="addBoard"	parameterType="com.zagle.service.domain.Board" >
	 	INSERT
		INTO board(board_no, user_no, board_detail_text, hash_tag, user_theme, board_reg_date, board_status, photo1, photo2, photo3, coord, address)
		VALUES('BD'||seq_bd.nextval,#{user.userNo},#{boardDetailText},#{hashTag},#{userTheme},sysdate,#{boardStatus},#{photo1},#{photo2},#{photo3},#{coord},#{address})
	 </insert>

	 
</mapper>