<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BuyMapper">
 	
	<resultMap id="buySelectMap" type="buy">
		<result property="buyNo" 							column="buy_no" 					jdbcType="VARCHAR"/>
		<result property="sellProd.sellNo" 				column="sell_no" 					jdbcType="VARCHAR" />
		<result property="buyer.userNo"					column="user_no" 					jdbcType="VARCHAR" />
		<result property="buyer.profile"					column="profile" 						jdbcType="VARCHAR" />
		<result property="buyer.userNickname"		column="user_nickname" 			jdbcType="VARCHAR" />
		<result property="buyPhone" 						column="buy_phone" 				jdbcType="VARCHAR" />
		<result property="buyAddress" 					column="buy_addr" 					jdbcType="VARCHAR" />
		<result property="payment" 							column="payment"	 				jdbcType="VARCHAR" />
		<result property="trackingNo" 						column="tracking_no" 				jdbcType="NUMERIC" />
		<result property="companyCode"					column="company_code"			jdbcType="NUMERIC" />
		<result property="buyDate" 							column="buy_date"	 				jdbcType="DATE" />
	</resultMap>
	
	<insert 	id="addBuy"	parameterType="buy" >
	 	INSERT
		INTO buy(buy_no, sell_no, user_no, buy_date) 
		VALUES	 ('TB'||seq_tb.nextval,#{sellProd.sellNo},#{buyer.userNo},SYSDATE)
	 </insert>
	 
	 <select id="getBuyCount" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM (SELECT * FROM buy WHERE user_no=#{userNo} ORDER BY buy_no) countTable
	 </select>
	 
	 <select id="listBuy" parameterType="Map" resultMap="buySelectMap">
		SELECT * 
		FROM 
		(SELECT inner_table.*, ROWNUM as row_seq FROM
		(SELECT * FROM buy WHERE user_no=#{userNo} ORDER BY buy_no) inner_table
		WHERE ROWNUM &lt;=#{search.endRowNum:INTEGER})
		WHERE row_seq BETWEEN #{search.startRowNum:INTEGER} AND #{search.endRowNum:INTEGER}
	 </select>
	 
</mapper>