<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BuyMapper">
 	
	<resultMap id="buySelectMap" type="buy">
		<result property="buyNo" 							column="buy_no" 					jdbcType="VARCHAR"/>
		<result property="buyer.userNo"					column="user_no" 					jdbcType="VARCHAR" />
		<result property="buyer.profile"					column="profile" 						jdbcType="VARCHAR" />
		<result property="buyer.userNickname"		column="user_nickname" 			jdbcType="VARCHAR" />
		<result property="buyPhone" 						column="buy_phone" 				jdbcType="VARCHAR" />
		<result property="buyAddress" 					column="buy_addr" 					jdbcType="VARCHAR" />
		<result property="payment" 							column="payment"	 				jdbcType="VARCHAR" />
		<result property="trackingNo" 						column="tracking_no" 				jdbcType="NUMERIC" />
		<result property="companyCode"					column="company_code"			jdbcType="NUMERIC" />
		<result property="buyDate" 							column="buy_date"	 				jdbcType="DATE" />
		
		<association property="sellProd"  javaType="sell">
			<id property="sellNo" 									column="sell_no" 					jdbcType="VARCHAR"/>
			<result property="seller.userNo"					column="user_no" 					jdbcType="VARCHAR" />
			<result property="seller.profile"					column="profile" 						jdbcType="VARCHAR" />
			<result property="seller.userNickname"		column="user_nickname" 			jdbcType="VARCHAR" />
			<result property="sellName" 						column="sell_name" 				jdbcType="VARCHAR" />
			<result property="sellPrice" 							column="sell_price" 					jdbcType="NUMERIC" />
			<result property="sellText" 							column="sell_text" 					jdbcType="VARCHAR" />
			<result property="sellPhoto1" 						column="sell_Photo1" 				jdbcType="VARCHAR" />
			<result property="sellPhoto2" 						column="sell_Photo2" 				jdbcType="VARCHAR" />
			<result property="sellPhoto3" 						column="sell_Photo3" 				jdbcType="VARCHAR" />
			<result property="sellPhone" 						column="sell_phone" 				jdbcType="VARCHAR" />
			<result property="sellStyle" 							column="sell_style" 					jdbcType="NUMERIC"  />
			<result property="sellState" 							column="sell_state" 				jdbcType="NUMERIC" />
			<result property="sellDate" 							column="sell_date" 					jdbcType="DATE" />
		</association>
		
	</resultMap>
	
	<insert 	id="addBuy"	parameterType="buy" >
	 	INSERT
		INTO buy(buy_no, sell_no, user_no, buy_date) 
		VALUES	 ('TB'||seq_tb.nextval,#{sellProd.sellNo},#{buyer.userNo},SYSDATE)
	 </insert>
	 
	 <select id="getBuyCount" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM (SELECT * FROM buy WHERE user_no=#{userNo} ORDER BY buy_no) countTable
	 </select>
	 
	 <select id="listBuy" parameterType="Map" resultMap="buySelectMap">
		SELECT * 
		FROM (SELECT inner_table.*, ROWNUM as row_seq 
					FROM (SELECT b.*, s.sell_name, s.sell_price, s.sell_state, s.sell_style
								FROM buy b, sell s 
								WHERE b.user_no=#{userNo} and b.sell_no=s.sell_no ORDER BY buy_no desc) inner_table 
					WHERE ROWNUM &lt;=#{search.endRowNum:INTEGER})
		WHERE row_seq BETWEEN #{search.startRowNum:INTEGER}  AND #{search.endRowNum:INTEGER}
	 </select>
	 
	 <select id="getBuy" parameterType="string" resultMap="buySelectMap">
	 	SELECT DISTINCT u.user_no, u.profile, u.user_nickname, s.*, b.* 
	 	FROM sell s, users u, (select * from buy where buy_no=#{buyNo}) b 
	 	WHERE u.user_no=s.user_no and s.sell_no=b.sell_no
	 </select>
	 
</mapper>