<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ChatMapper">
 	
 	
	<resultMap id="chatSelectMap" type="chat">
		<result property="chatNo" 	column="chat_no" 	jdbcType="VARCHAR"/>
		<result property="chatAddress"	column="dong_name" 	jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addChat"		parameterType="chat" >
	 	INSERT
		INTO chat 
		VALUES	 (	seq_ch , #{chatAddress} )
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getChat"	parameterType="string"	resultMap="userSelectMap">
		SELECT *		
		FROM chat 
		WHERE dong_name = #{value}
	 </select>
	 
</mapper>