<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>

	<!-- 기타 설정정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	
	<!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
		<typeAlias alias="user" type="com.zagle.service.domain.User" />
		<typeAlias alias="board" type="com.zagle.service.domain.Board" />
		<typeAlias alias="stream" type="com.zagle.service.domain.Stream" />
		<typeAlias alias="search" type="com.zagle.common.Search" />
		<typeAlias alias="local" type="com.zagle.service.domain.Local" />
		<typeAlias alias="refund" type="com.zagle.service.domain.Refund" />
		<typeAlias alias="spon" type="com.zagle.service.domain.Spon" />
	</typeAliases>
	
	 <!-- SQL Definition :: file include -->
	<mappers>
		<mapper resource="sql/UserMapper.xml"/>
		<mapper resource="sql/BoardMapper.xml"/>
		<mapper resource="sql/StreamMapper.xml"/>
		<mapper resource="sql/MapMapper.xml"/>
		<mapper resource="sql/MypageMapper.xml"/>
		<mapper resource="sql/RefundMapper.xml"/>
		<mapper resource="sql/SponMapper.xml"/>
	</mappers>

</configuration>