<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MypageMapper">
 	
 	
	<resultMap id="mypageSelectMap" type="user">
		<result property="account" 			column="account" 			jdbcType="VARCHAR"/>
		<result property="userName"	column="user_name" 		jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<update 	id="addAccount"		parameterType="user" >
	 	UPDATE users
	 	<set>
	 	account = #{account:VARCHAR} ,
	 	bank_name = #{bankName:VARCHAR}
	 	</set>
	 	WHERE user_no =#{userNo}
	
	</update>
	 
</mapper>