<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StreamMapper">
 	
 	
	<resultMap id="refundSelectMap" type="refund">
		<result property="refundNo" 			column="refund_no" 			jdbcType="VARCHAR"/>
		<result property="userNo"			    column="user_no" 		    jdbcType="VARCHAR" />
		<result property="userNickname"			column="user_nickname" 		jdbcType="VARCHAR" />
		<result property="streamTotalPrice"   	column="refund_price" 		jdbcType="NUMERIC" />
		<result property="refundDate" 			column="refund_date"  		jdbcType="DATE" />
		<result property="bankname" 			column="bank_name" 			jdbcType="VARCHAR" />
		<result property="account" 				column="account" 			jdbcType="VARCHAR" />
		<result property="checkRefund" 			column="check_refund" 		jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addRefund"		parameterType="refund" >
	 INSERT INTO refund(refund_no,user_no,user_nickname,refund_price,refund_date,bank_name,account,check_refund)
	 VALUES('RE'||seq_re.nextval,#{userNo},#{userNickname},#{streamTotalPrice},#{refundDate},#{bankname},#{account},'0')	
	</insert>
	 	 
	 <select id="listRefund"	parameterType="refund" resultMap="refundSelectMap">
	 SELECT*
	 FROM refund
	 WHERE user_no = #{userNo}
	 </select>
	 
	 
	  <select id="listRefund2"	parameterType="refund" resultMap="refundSelectMap">
	 SELECT*
	 FROM refund
	 order by check_refund
	 </select>
	 
	  <update	id="updateRefund"	parameterType="refund">
	   	UPDATE refund
	   	<set>
	   	check_refund = #{checkRefund}
	   	</set>
	   	WHERE refund_no = #{refundNo}
	 </update>
	 
</mapper>