<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="ReportMapper">

<resultMap id="reportSelectMap" type="com.zagle.service.domain.Report">

<result property="reportNo"									column="report_no"						jdbcType="VARCHAR" />
<result property="reportingUserNo.userNo"		column="reporting_user_no"		jdbcType="VARCHAR" />
<result property="reportedUserNo.userNo"		column="reportied_user_no"		jdbcType	="VARCHAR"/>
<result property="reportedBoardNo.boardNo"		column="board_no"						jdbcType="VARCHAR"/>
<result property="reportReason"							column="report_reason"				jdbcType="VARCHAR"/>
<result property="reportedComment.commentNo" column="comment_no"			jdbcType="VARCHAR"/>
<result property="hardleNo"							column="hardle_no"					jdbcType="VARCHAR"/>
<result property="reportDate"								column="report_date"					jdbcType="DATE"/>

</resultMap>

 <insert id="addReport" parameterType="com.zagle.service.domain.Report">
	 INSERT
	 INTO report(report_no, reporting_user_no, reportied_user_no, board_no, 
	 						report_reason, comment_no, hardle_no, report_date)
	 						
	 VALUES ('RP'||seq_rp.nextval, #{reportingUserNo.userNo:VARCHAR}, #{reportedUserNo.userNo:VARCHAR}, #{reportedBoardNo.boardNo:VARCHAR},
	 						#{reportReason:VARCHAR}, #{reportedComment.commentNo:VARCHAR}, '0', SYSDATE )
	</insert>
	
	<update id="updateReport"  parameterType="com.zagle.service.domain.Report">
	UPDATE report
	<set>
	hardle_no	= #{hardleNo:VARCHAR}
	</set>
	where board_no = #{reportedBoardNo.boardNo:VARCHAR}
	</update>
	
	<!--  SQL : GET REPORT (신고 이유 추출) -->
	<select id="getReportList" parameterType="com.zagle.service.domain.SearchAdmin" resultMap="reportSelectMap">
		SELECT *
		FROM(SELECT inner_table.*, ROWNUM AS row_seq
				FROM (SELECT *
								FROM report r, users u
								WHERE u.user_no = r.reportied_user_no and r.reportied_user_no = #{checkReport.reportedUserNo.userNo:VARCHAR}
							   <if test="searchCondition != null">
										
										
											<if test="searchCondition == 0 and searchKeyword !='' ">
										 				 and user_name = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 			    and delete_count = #{searchKeyword}
													</if>
												
											</if>
											ORDER BY r.report_no ) inner_table	
												WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	</select>
	
	<select id="getTotalCount4" parameterType="com.zagle.service.domain.SearchAdmin" resultType="int">
	SELECT COUNT(*)
	FROM( SELECT * 
				FROM report r, users u
				WHERE u.user_no = r.reportied_user_no and r.reportied_user_no = #{checkReport.reportedUserNo.userNo:VARCHAR}
					
						<if test="searchCondition != null">
						
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			and user_name = #{searchKeyword}
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 		    and delete_count = #{searchKeyword}
						 		    </if>
								</if>	) countTable
	
	</select>
	
	
	<select id="checkReportCount" parameterType="com.zagle.service.domain.Report" resultType="int">
	SELECT COUNT(*)
	FROM report 
	WHERE hardle_no = '0'
	
		<if test="reportedBoardNo != null">
			and board_no = #{reportedBoardNo.boardNo}
		</if>
		<if test="reportedCommentNo != null">
			and comment_no = #{reportedCommentNo.commentNo}
		</if>
	
	
	
	</select>
	</mapper>
