<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StreamMapper">
 	
 	
	<resultMap id="streamSelectMap" type="stream">
		<result property="streamNo" 			column="stream_no" 			jdbcType="VARCHAR"/>
		<result property="user.userNo"	column="user_no" 		jdbcType="VARCHAR" />
		<result property="streamLikeCount" 	column="stream_like" 		jdbcType="NUMERIC" />
		<result property="streamDate" 				column="stream_date" 					jdbcType="DATE" />
		<result property="streamTitle" 				column="stream_title" 					jdbcType="VARCHAR" />
		<result property="streamContent" 			column="stream_content" 		jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addStream"		parameterType="java.util.Map" >
	 INSERT INTO stream(stream_no,user_no,stream_like,stream_date,stream_title,stream_content)
	 VALUES('ST'||seq_st.nextval,#{userNo},0,sysdate,#{streamTitle},#{streamContent});	
	</insert>
	 	 
	 
</mapper>