<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
 	
 	
	<resultMap id="userSelectMap" type="user">
		<result property="userNo" 							column="user_no" 					jdbcType="VARCHAR"/>
		<result property="snsNo"								column="sns_no" 						jdbcType="VARCHAR" />
		<result property="userName" 						column="user_name" 				jdbcType="VARCHAR" />
		<result property="userNickname" 				column="user_nickname" 		jdbcType="VARCHAR" />
		<result property="userAddr" 						column="user_addr" 					jdbcType="VARCHAR" />
		<result property="profile" 								column="profile" 						jdbcType="VARCHAR"  />
		<result property="grade" 								column="grade_name" 			jdbcType="VARCHAR" />
		<result property="bankName"						column="bank_name"				jdbcType="VARCHAR"/>
		<result property="regDate"							column="reg_date"					jdbcType="DATE"/>
		<result property="blackCode"						column="black_code"				jdbcType="VARCHAR" />
		<result property="account"							column="account"						jdbcType="VARCHAR"/>
		<result property="userBirth"							column="user_birth" 					jdbcType="INTEGER"/>
		<result property="deleteCount"					column="delete_count"				jdbcType="INTEGER"/>
		<result property="totalActiveScore"				column="total_active_score"	jdbcType="INTEGER"/>
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addUser"		parameterType="user" >
	 	INSERT
		INTO users( user_no , sns_no , user_name , user_nickname , user_addr, profile , grade, 
								bank_name, reg_date, black_code, account, user_birth, delete_count, total_active_score) 
															
		VALUES	 (	'US'||seq_us.nextval, #{snsNo:VARCHAR} , #{userName:VARCHAR} , #{userNickname:VARCHAR} ,
							 #{userAddr:VARCHAR} ,#{profile:VARCHAR}, #{grade:VARCHAR}, #{bankName:VARCHAR}, SYSDATE , 0 , #{account:VARCHAR} , #{userBirth:INTEGER}, 0, 0)
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getUser"	parameterType="string"	resultMap="userSelectMap">
		SELECT*
		FROM users 
		WHERE sns_no = #{value}
	 </select>
	 
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getUser2"	parameterType="string"	resultMap="userSelectMap">
		SELECT *
		FROM users u,(select u2.user_no,g2.grade_name
    	  FROM users u2,grade g2
      	WHERE u2.total_active_score between g2.low_score and g2.high_score) g
		WHERE u.user_no=g.user_no and u.user_no = #{user.userNo}
	 </select>
	 
	 <select id="getUser3" parameterType="string" resultMap="userSelectMap">
	 	SELECT *
	 	FROM users
	 	WHERE user_name = #{userName}
	 </select>
	 
	 <!-- SQL : UPDATE -->
	 <update	id="updateUser"	parameterType="user" >
	   	UPDATE users
	   	<set>
	   		user_name 			= #{userName:VARCHAR} ,
			user_nickname 		= #{userNickname:VARCHAR} ,
			user_birth				=	#{userBirth:INTEGER},
			user_addr				=	#{userAddr:VARCHAR},
			profile						=	#{profile:VARCHAR},
			black_code				= #{blackCode:VARCHAR}
			
	   	</set>
	   	WHERE user_no = #{userNo}
	 </update>
	 
	 <!--  SQL : UPDATE SCORE -->
	 <update id="updateAddActiveScore" parameterType="user">
	 UPDATE users
	 <set>
	 total_active_score =#{totalActiveScore:INTEGER}
	 </set>
	 WHERE sns_no = #{snsNo}
	 </update>
	 
	 
	 <!--  SQL UPDATE DELETE COUNT -->
	 <update id="updateDeleteCount" parameterType="user">
	 UPDATE users
	 <set>
	 delete_count = #{deleteCount:INTEGER}
	 </set>
	 WHERE user_no = #{userNo}
	 </update>
	 
	 <!--  LIST USER -->
	 
	<select  id="listUser"  parameterType="com.zagle.service.domain.SearchAdmin"	resultMap="userSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT user_no , user_name , sns_no, reg_date, delete_count
											FROM users
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				user_name = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				delete_count = #{searchKeyword}
													</if>
												</where>
											</if>
											ORDER BY user_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	 
	<select id="listBlackObject" parameterType="com.zagle.service.domain.SearchAdmin" resultMap="userSelectMap">
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT user_no , user_name , reg_date, delete_count
											FROM users
				     						WHERE black_code = '1'
														
											<if test="searchCondition != null">
												
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				 and user_name = #{searchKeyword}
													</if>
													
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 			    and delete_count = #{searchKeyword}
													</if>
										
											</if>
											ORDER BY user_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	
	 
	 
	 
	 
	
	 <select  id="getTotalCount2"  parameterType="com.zagle.service.domain.SearchAdmin"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT user_no , user_name , reg_date, delete_count
						FROM users
						WHERE black_code = '1'
						<if test="searchCondition != null">
						
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			user_name = #{searchKeyword}
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 			delete_count = #{searchKeyword}
								</if>
						
						</if> ) countTable						
	 </select>
	 
	 
	 
	 
	 <select  id="getTotalCount"  parameterType="com.zagle.service.domain.SearchAdmin"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT user_no , user_name , sns_no, reg_date, delete_count
						FROM users
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			user_name = #{searchKeyword}
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 			delete_count = #{searchKeyword}
								</if>
							</where>
						</if> ) countTable						
	 </select>
	 
	 
	 <select id="checkNickname" parameterType="user" resultType="java.lang.Integer">
	  SELECT NVL(COUNT(*), 0)
	  FROM users
	  WHERE user_nickname = #{userNickname}
	 </select>
	 
	 
</mapper>